.btn-primary {
  cursor: pointer;
  background-color: #8AE624;
}
.btn-secondary {
  background-color: #393E44;
}
form{
  background-color: #393E44;
  opacity: 0.75;
  padding: 10px;
  width: 90%;
}
.form-label{
  color:white;
}

#root{
  background-color: #222529;
  height: 100vh;
  width: 100%;
}

.wrapper{

    display: flex;
    align-items: center;
    justify-items:center;
    justify-content:center;
    padding: 30px;
    margin: 20px;
    background-color: #393E44;
}

#best-self {
  flex-direction: column;
}
.wrapper > h1 {
  color: #8AE624;
  font-style: bold;
  font-size: 4em;
  text-align: center;
}

.wrapper > h2 {
  color: white;
  font-size: 1.2em;
  text-align: center;
}
.wrapper > p{
  color: white;
}
.quote {
  background-color: #222529;
  color: white;
  text-align: center;
  font-style: italic;
}
